#youtube {
    object-fit: cover;
    overflow: hidden;
    scale: 2;
}

#visit-youtube {
    padding: 10px 30px;
    border: none;
    background-color: #d61818;
    font-size: 25px;
    border-radius: 5px;
    transition: all 0.1s;
}

#visit-youtube:hover {
    background-color: #cb5757;
}

#visit-youtube:active {
    opacity: .7;
}